.earthling-calendar {
  text-align: center;
}
.earthling-calendar .earthling-calendar-to-today,
.earthling-calendar .earthling-calendar-interval {
  min-width: 23em;
  margin: 0.3em auto;
  padding: 0.2em 1.5em;
}
.earthling-calendar .earthling-calendar-interval {
  min-width: 23em;
  min-height: 1.5em;
  line-height: 1.5em;
}
.earthling-calendar table table td,
.earthling-calendar .earthling-calendar-to-today,
.earthling-calendar .earthling-calendar-interval,
.earthling-calendar .earthling-calendar-year,
.earthling-calendar .earthling-calendar-to-month-previous,
.earthling-calendar .earthling-calendar-to-month-next {
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: 0.5s, background-color;
  -moz-transition: 0.5s, background-color;
  transition: 0.5s, background-color;
}
.earthling-calendar table table td:hover,
.earthling-calendar .earthling-calendar-to-today:hover,
.earthling-calendar .earthling-calendar-interval:hover,
.earthling-calendar .earthling-calendar-year:hover,
.earthling-calendar .earthling-calendar-to-month-previous:hover,
.earthling-calendar .earthling-calendar-to-month-next:hover {
  background-color: #E3E3E3;
  border-color: #B1B1B1;
  -webkit-transition: 0.3s, background-color;
  -moz-transition: 0.3s, background-color;
  transition: 0.3s, background-color;
}
.earthling-calendar table table td.earthling-calendar-selected-day:hover,
.earthling-calendar .earthling-calendar-to-today.earthling-calendar-selected-day:hover,
.earthling-calendar .earthling-calendar-interval.earthling-calendar-selected-day:hover,
.earthling-calendar .earthling-calendar-year.earthling-calendar-selected-day:hover,
.earthling-calendar .earthling-calendar-to-month-previous.earthling-calendar-selected-day:hover,
.earthling-calendar .earthling-calendar-to-month-next.earthling-calendar-selected-day:hover {
  background-color: #dbe7d2;
}
.earthling-calendar table table td:active,
.earthling-calendar .earthling-calendar-to-today:active,
.earthling-calendar .earthling-calendar-interval:active,
.earthling-calendar .earthling-calendar-year:active,
.earthling-calendar .earthling-calendar-to-month-previous:active,
.earthling-calendar .earthling-calendar-to-month-next:active {
  background-color: #E38D76;
  color: #A64625;
  -webkit-transition: 0.1s, background-color;
  -moz-transition: 0.1s, background-color;
  transition: 0.1s, background-color;
}
.earthling-calendar .earthling-calendar-table {
  overflow: hidden;
  -webkit-transition: 0.3s height, 0.3s opacity;
  -moz-transition: 0.3s height, 0.3s opacity;
  transition: 0.3s height, 0.3s opacity;
}
.earthling-calendar .earthling-calendar-table.earthling-calendar-table-hidden {
  -webkit-transition: 0.1s height, 0.1s opacity;
  -moz-transition: 0.1s height, 0.1s opacity;
  transition: 0.1s height, 0.1s opacity;
  height: 0;
  opacity: 0;
}
.earthling-calendar table {
  width: 100%;
  text-transform: capitalize;
  border-spacing: 0;
}
.earthling-calendar table tr {
  vertical-align: top;
}
.earthling-calendar table table {
  padding: 0 10px;
  text-align: center;
}
.earthling-calendar table td.earthling-calendar-year,
.earthling-calendar table td.earthling-calendar-month {
  cursor: s-resize;
}
.earthling-calendar table td sup {
  color: #BC1818;
  font-size: 0.5em;
  font-weight: 700;
  margin-top: -0.4em;
  position: absolute;
  /*text-shadow: 0 0 2px #000000;*/
  vertical-align: 36px;
}
.earthling-calendar table td input {
  text-align: center;
  font-size: 15px;
  font-family: "Arial Cyr", Arial, Verdana, sans-serif;
}
.earthling-calendar table td.earthling-calendar-selected-day {
  background-color: #D3EAC0;
}
.earthling-calendar table td.earthling-calendar-to-month-previous,
.earthling-calendar table td.earthling-calendar-to-month-next {
  vertical-align: middle;
  cursor: pointer;
}
.earthling-calendar table td.earthling-calendar-next-month,
.earthling-calendar table td.earthling-calendar-previous-month {
  color: #A5A5A5;
}
.earthling-calendar table td.earthling-calendar-today {
  background-color: #288CD3;
  color: #FFFFFF;
}
.earthling-calendar table td.earthling-calendar-today.earthling-calendar-selected-day {
  background-color: #42ece9;
}
