

.transitional(@prop...) {
	@string: "";
	.collect-prop(@i: 1 ,@prop ,@string) when (@i =< length(@prop)) {
		-webkit-transition+: extract(@prop ,@i);
		-moz-transition+: extract(@prop ,@i);
		transition+: extract(@prop ,@i);

		.collect-prop((@i + 1) ,@prop ,@string);
	}
	.collect-prop(1 ,@prop ,@string);
}

.earthling-calendar {
	@selected-day-color: #D3EAC0;

	text-align: center;

	.earthling-calendar-to-today
	,.earthling-calendar-interval {
		min-width: 23em;
		margin: 0.3em auto;
		padding: 0.2em 1.5em;
	}

	.earthling-calendar-interval {
		min-width: 23em;
		min-height: 1.5em;
		line-height: 1.5em;
	}

	table table td,
	.earthling-calendar-to-today,
	.earthling-calendar-interval,
	.earthling-calendar-year,
	.earthling-calendar-to-month-previous,
	.earthling-calendar-to-month-next {
		border-radius: 3px;
		cursor: pointer;
		border: 1px solid transparent;

		.transitional(0.5s background-color);

		&:hover {
			background-color: #E3E3E3;
			border-color: #B1B1B1;

			.transitional(0.3s background-color);
		}

		&.earthling-calendar-selected-day:hover {
			background-color: mix(#E3E3E3 ,@selected-day-color);
		}

		&:active {
			background-color: #E38D76;
			color: #A64625;
			.transitional(0.1s background-color);
		}
	}

	.earthling-calendar-table {
		overflow: hidden;
		.transitional(0.3s height ,0.3s opacity);

		&.earthling-calendar-table-hidden {
			.transitional(0.1s height ,0.1s opacity);
			height: 0;
			opacity: 0;
		}
	}

	table {
		width: 100%;
		text-transform: capitalize;
		border-spacing: 0;

		tr {
			vertical-align: top;
		}

		table {
			padding: 0 10px;
			text-align: center;
		}

		td {
			 &.earthling-calendar-year
			,&.earthling-calendar-month {
				cursor: s-resize;
			}

			sup {
				color: #BC1818;
				font-size: 0.5em;
				font-weight: 700;
				margin-top: -0.4em;
				position: absolute;
				/*text-shadow: 0 0 2px #000000;*/
				vertical-align: 36px;
			}

			input {
				text-align: center;
				font-size: 15px;
				font-family: "Arial Cyr", Arial, Verdana, sans-serif;
			}

			&.earthling-calendar-selected-day {
				background-color: @selected-day-color;
			}

			&.earthling-calendar-to-month-previous,
			&.earthling-calendar-to-month-next {
				vertical-align: middle;
				cursor: pointer;
			}

			&.earthling-calendar-next-month,
			&.earthling-calendar-previous-month {
				color: #A5A5A5;
			}

			@today-bg-color: #288CD3;

			&.earthling-calendar-today {
				background-color: @today-bg-color;
				color: #FFFFFF;
			}

			&.earthling-calendar-today.earthling-calendar-selected-day {
				background-color: hardlight(@selected-day-color ,@today-bg-color);
			}
		}
	}
}








